CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# IDE - VS
out/
out

.vs
.vs/

# VS Code Create Dir
build
build/

# IDE - clion
cmake-build-debug-visual-studio
cmake-build-debug-visual-studio/

.idea
.idea/

build_Debug/
build_Debug

build_Release/
build_Release

.cache/
.cache

# clang directory
cmake-build-debug-clang/
cmake-build-debug-clang

/Clion_Build

docs/_book/
docs/_book
